
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #111;
  height: 100%;
  overflow-x: hidden;
}

#intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background: url('../assets/images/darkmode.jpg') no-repeat center center/cover;
  overflow: hidden;
  box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.6);
  margin-top: -32px;
  margin-bottom: 30px;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}


.intro-content {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -50px;
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #737171;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #e7c4b2; 
  font-family: 'Space Grotesk', sans-serif;
  margin: 15px 0;
  letter-spacing: 1px;
  text-shadow: 
  0.5px 0.5px 0px #cbcaca, 
  -0.5px -0.5px 0px #cbcaca,
  0.5px -0.5px 0px #cbcaca,
  -0.5px 0.5px 0px #cbcaca;
}

h1:hover {
  transform: scale(1.1);
  color: #dea487;
}


.intro-position {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #858282;
  margin: 20px 0;
}

.intro-position span {
  display: inline-block;
  padding: 10px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Button Styling */
.button {
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 12px 30px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
  display: inline-block;
}

.button:hover {
  background-color: #fff;
  color: #333;
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

/* Social Icons Styling */
.intro-social {
  position: absolute;
  bottom: 70px;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.intro-social li {
  list-style: none;
  width: 55px; 
  height: 55px; 
  border-radius: 50%;
  overflow: hidden;
}

#github{
  width:52px;
  height:52px;
}


.intro-social a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.intro-social a:hover {
  transform: translateY(-5px);
}

.intro-social a:hover img {
  transform: scale(1.2);
}

.intro-social img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.toggle-btn {
  position: absolute;
  top: 5%;  
  right: 5%;  
  width: 50px;  
  height: 50px;  
  background-color: rgba(255, 255, 255, 0.5);  
  border: none;
  border-radius: 50%;  
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 45px;  
  margin-top: 10px;
}

.toggle-btn img {
  width: 30px;  
  height: 30px;  
}


.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);  
}


/* Mobile Responsiveness, check later */
@media screen and (max-width: 768px) {
  #intro {
    height: 100vh;
    padding: 50px 20px;
  }

  h1 {
    font-size: 2.8rem;
  }

  .button {
    font-size: 1rem;
    padding: 10px 25px;
  }

  .intro-social {
    gap: 20px;
  }

  .intro-content {
    margin-top: -160px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.3rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 20px;
  }

  .intro-social {
    gap: 15px;
  }

  .intro-content {
    margin-top: -160px;
  }

  .toggle-btn {
    margin-right: 20px;
  }
}
